<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @task.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @task.finish %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @task.duration %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @task.progress %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @task.parent_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @task.project_id %>
</p>

+<%= link_to 'Edit', edit_project_task_path(@project,@task) %> |
+<%= link_to 'Back', project_tasks_path %>
