<div>
    <p id="notice"><%= notice %></p>
</div>
<div id="title">
    <span>
      <h1><%= @project.name %></h1>
    </span>

   <span>
    <%= link_to 'Volver', projects_path , :class => "btn pull-right" %>
   </span>
</div>

<div id="gantt_projects"  class="jumbotron">></div>


<style>
    .gantt_cell,
    .gantt_task_content,
    .gantt_grid_scale,
    .gantt_task_scale
    {
        font-size: 10px;
    }

    #title{
        height: 120px;

    }

    #gantt_projects{
        height: auto;
        width: 100%;
        position: absolute;
        top: 120px;
        bottom: 0;
    }


</style>

<script type="text/javascript">
    gantt.init("gantt_projects");
    gantt.config.xml_date = "%d-%m-%Y";
    gantt.config.columns = [
        {name:"text",       label:"Tarea",  width:"200", tree:true },
        {name:"start_date", label:"Fecha Inicio", width:"80", align: "center" },
        {name:"end_date",   label:"Fecha Final", width:"80", align: "center" },
        {name:"duration",   label:"Duracion",   width:"85", align: "center" , template:function(obj){return obj.duration+" dias"}},
        {name:"add",        label:"",           width:44 }
    ];
    gantt.config.scale_unit= "week";
    //gantt.config.autosize = "y";

    gantt.clearAll();
    gantt.load("<%= data_gantt_path %>", "json");
    dp_gantt = new dataProcessor("<%= datagantt_action_path %>");
    dp_gantt.init(gantt);
</script>


